.gal{
            background-color: rgba(192, 192, 192, 0.7);
            width: 1050px;      
            border: solid 2px #000000; 
            float: left;
            margin-left: 77px;
            padding: 5px;  
           }
           
           .gal img{
            width:500px;
            display: inline-block;
           }